<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- Navbar brand -->
    <mdb-navbar-brand> <a routerLink="/" routerLinkActive="active" class="navbar-brand waves-light" mdbWavesEffect>Home</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
        <a routerLink="/schnitzeljagd" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>
            <li class="nav-item">
                Schnitzeljagd!
            </li>
            </a>

        </ul>
        <!-- Links -->
    </links>
    <p>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->