<!-- Footer -->
<footer class="page-footer font-small fixed-bottom vreden-bg-color-secondary w-100 text-center">



    <!-- Grid row-->
    <div class="py-1">
      <div class="mb-3 mt-3">
        <a target="_blank" rel="noopener noreferrer" class="fb-ic" href="https://www.facebook.com/daniel.denis.182">
          <mdb-icon fab icon="facebook" size="2x" class="white-text"></mdb-icon>
        </a>
      </div>


  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">© 2019 Copyright:
    <a href="https://denk.digital.de"> denk.digital.de</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
