<div class="scanner-shell" [hidden]="!hasDevices">
  <header>

    <h4 class="text-center mt-4">Webcam auswählen</h4>
    <mat-form-field class="w-100">
      <mat-select (selectionChange)="onDeviceSelectChange($event)" class="w-100">
        <mat-option *ngFor="let device of availableDevices" [value]="device.deviceId">{{device.label}}</mat-option>
        <mat-option>None</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="button" mdbBtn class="waves-light text-center center-block w-100 vreden-bg-color-primary"
      (click)="basicModal.show()" mdbWavesEffect>Webcam Öffnen Und Lossuchen!</button>
  </header>

  <h2 class="mt-5">Finde die folgenden QRCodes:</h2>

  <app-schnitzel imageSrcPath="/assets/img/herzblut.jpg" text="Dieses Café hat gerade erst aufgemacht.
  Nach jahrelangem Stillstand geht es hier endlich wieder zur Sache, in der Nähe des Cafés findest du einen Stuhl,
  der deinen QR-Code enthält!" qrKeyWord="quovadis"></app-schnitzel>

  <app-schnitzel imageSrcPath="/assets/img/venezia.jpg" text="Bella Italia! Fast nirgendwo schmeckt die Portion Eis so gut wie hier.
Angeblich verbirgt sich im sonnigen Garten der nächste Hinweis auf unseren QR-Code!"
    qrKeyWord="http://bit.ly/wifischnitzel">
  </app-schnitzel>

  <app-schnitzel imageSrcPath="/assets/img/daniel.jpg" text="Finde Daniel Lieblings QR-Code im Baum!"
      qrKeyWord="http://doc-brown.eu/denkt-digital/">
    </app-schnitzel>


  <div mdbModal #basicModal="mdbModal" class="modal fade huge" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true" (close)="onClose($event)" (open)="onOpen($event)">
    <div class="modal-dialog modal-full" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Finde einen QR Code!</h4>
        </div>
        <div class="modal-body">

          <zxing-scanner #scanner (scanSuccess)="handleQrCodeResult($event)" [tryHarder]="true"> </zxing-scanner>

        </div>

      </div>

    </div>
  </div>

  <div mdbModal #confirmationModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="confirmationModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">QR Code gefunden!</h4>
        </div>
        <div class="modal-body">
          <a target="_blank" rel="noopener noreferrer" href="{{qrResultString}}"><button
              class="btn btn-primary vreden-bg-color-primary w-100">{{qrResultString}}</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn class="waves-light vreden-bg-color-secondary text-white w-100" aria-label="Close"
            (click)="confirmationModal.hide()" mdbWavesEffect>Schliessen</button>
        </div>
      </div>
    </div>
