<div class="card card-image mt-4" style="background-image: url('/assets/img/vreden.jpg');">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 vreden-color-primary"><i class="fas fa-camera-retro"></i>denkt.digital</h5>
      <h2 class="card-title h2 my-4 py-2">Wir unterstützen Vreden!</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5"></p>
      <a target="_blank" rel="noopener noreferrer" href="https://www.vreden.de/"><button
          class="btn btn-primary vreden-bg-color-primary" (click)="onClick($event)">Offizielle Vreden Seite</button></a>

    </div>
  </div>
</div>

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable mt-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src='/assets/img/daniel.jpg' class="img-fluid">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="vreden-color-primary">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i>Schnitzelmeister!</h6>
      </a>

      <h4 class="h4 mb-4">Daniel Denis</h4>

      <p class="font-weight-normal">Vreden ist auf dem besten Weg ein Vorzeigeort der Digitalisierung zu werden. Jeder der Lust und Spaß hat sucht QR-Codes, die ich überall in der Stadt versteckt habe. Bei Fragen Ideen und Anregungen kommt gerne auf mich zu!<p></p>
        "Gotta find them all!"
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>